/* Pc */
@media (min-width: 1024px) {
    #nav .subnav {

    }
}
/* Tablet and moblie */
@media(max-width:1023px) {
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 18px;
    }

    .contact-info {
        font-size: 21px;
        line-height: 2.0;
    }

    .conatact-submit-btn {
        font-size: 18px;
    }

    .socials-list a {
        margin: 0 8px;
        font-size: 34px;
    }

    .coppyright {
        font-size: 25px;
    }

    .coppyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width:1023px) {

}
/* Moblie */
@media (max-width:740px) {
    .s-full-width {
        width: 100% !important;
    }

    .s-col-full{
        width: 100% !important;
    }

    .s-mt-16 {
        margin-top: 16px !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }
    
    #header .moblie-menu-btn {
        display: block;
    }   
    
    #header .search-btn {
        display: none;
    }
    
    #nav {
        display: block;
    }
    
    
    #nav > li {
        display: block;
    }
    
    #nav li a {
        padding: 1px 24px;
    } 
    
    #nav > li:first-child {
        display: inline-block;
    }
    
    #nav .subnav {
        position: inherit;
        background-color: #333;
    }
    
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #Content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }
}
