* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
/*Common*/

.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

.btn {
  color: #fff;
  background: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.btn:hover {
  background: #ccc;
  color: #000;
}

.mt-32 {
  margin-top: 32px;
}

.mb-46 {
  margin-bottom: 46px;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding: 0 8px;
}

.col-four {
  width: 25% !important;
}

.col-third {
  width: 33.33333% !important;
}

.col-half {
  width: 50% !important;
}

.col-full {
  width: 100% !important;
}

.text-center {
  text-align: center !important;
}

.pull-right {
  float: right !important;
}

/* main */
#main {
}

#header {
  position: fixed;
  height: 46px;
  background-color: #000;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  line-height: 46px;
  text-decoration: none;
  padding: 0px 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  min-width: 160px;
  display: none;
  position: absolute;
  background-color: #fff;
  list-style-type: none;
  box-shadow: 0 0 10px;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#header img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;  
}

#nav .nav-arrow-down {
  font-size: 12px;
}

#header .moblie-menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

#header .moblie-menu-btn:hover {
  background-color: #ccc;
}

#header .moblie-menu-btn:hover .menu-icon {
  color: #000;
}

#header .search-btn,
#header .moblie-menu-btn {
  float: right;
  padding: 0 21px;
  cursor: pointer;
}


#header .search-btn:hover {
  background-color: #f44336;
}


#header .ti-search,
#header .menu-icon {
  font-size: 14px;
  color: white;
  line-height: 46px;
}

#Slider {
  margin-top: 36px;
  position: relative;
  padding-top: 50%;
  background: url(../img/place/kda.jpg) top center / cover no-repeat  ;
}



.text-content {
  position: absolute;
  color: #fff;
  width: 100%;
  bottom: 46px;
  text-align: center;
  text-shadow: 2px 2px 1px #000;
}

.text-content img {
  width: 60%;
}

.text-content img:hover {
  width: 60.5%;
  transition:0.5s ;
  cursor: pointer;
}

.text-heading {
  font-weight: 300;
  font-size: 20px;
}

.text-descr {
  font-size: 15px;
  font-weight:600;
  padding-top:20px;
}

#Content {
}

#Content .content-section {
  width: 800px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 64px 0px 112px;
  padding-left: 16px;
  padding-right: 16px;
}

#Content .section-heading {
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 4px;
}

#Content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#Content .about-text {
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
  margin-top: 15px;
}

#Content .member-list {
  margin-top: 32px;
  height: 290px;
}

#Content .member-name {
  font-size: 15px;
}

#Content .member-img {
  margin-top: 15px;
  width: 90%;
  border-radius: 10px;
  transition: 0.5s ease-in-out;

}

#Content .member-img:hover {
  width: 100%;
  cursor: pointer;
}

.kda-list {
  margin-top: 64px;
  position: relative;

}

.kda-list video {
  width: 100%;
  border-radius: 2rem;
  margin-top: 20px;
}

.kda-list .kda-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
}

.kda-list .kda-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.kda-dscr a {
  color: #2196f3;
  margin-left: 10px;
}

.close {
  display: none;
}

hr {
  width: 900px;
    max-width: 90%;
    color: #ccc;
    margin: 3px auto;
}

.tour-section {
  background-color: #000;
}

.ticket-list {
  background: #fff;
  margin-top: 40px;
}

.ticket-list li {
  color: #757575;
  list-style: none;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
  font-size: 14px;
  padding: 3px 4px;
  color: #fff;
  background: #f44336;
  margin-left: 15px;
}

.ticket-list .quantily {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  float: right;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 24px;
  margin-top: 3;
}

.place-list {
  margin-top: 32px;
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  padding: 16px;
  font-size: 15px;
  color: #000;
  background-color: #fff;
}

.place-heading {
  font-size: 15px;
  padding-top: 15px;
}

.place-time {
  margin-top: 15px;
}

.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

/* Contact */
.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-info a{
  color: #101aef;
  opacity: 0.8;
}

.contact-info a:hover {
  opacity: 1;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 10px;
}

.contact-form .contact-send-bttn {
  float: right;
  font-size: 15px;
  border: none;
  color: #fff;
  background-color: #000;
  padding: 12px;
  cursor: pointer;
}
/* Map-section */
.map-section img {
  width: 100%;
}

/* Footer */
#Footer {
  padding: 64px 16px;
  text-align: center;
}

.socials-list {
  font-size: 24px;
}

.socials-list a {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}

.socials-list a:hover {
  opacity: 0.4;
}

.coppyright {
  font-size: 15px;
  opacity: 0.6;
}

.coppyright a {
  color: #000;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal-container {
  position: relative;
  background: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  animation: modalFadeIn ease 0.5s;
}

.modal-close:hover {
  background-color: #ccc;
  color: #000;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px;
  font-size: 14px;
  opacity: 0.9;
  cursor: pointer;
  color: #fff;
}

.modal-header {
  color: #fff;
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 6px;
}

.modal-header-icon {
  margin-right: 15px;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 550;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 8px;
  font-size: 15px;
  margin-bottom: 24px;
  border-radius: 10px;
}

#buy-tickets {
  color: #fff;
  background-color: #009688;
  border: none;
  width: 100%;
  font-size: 15px;
  padding: 19px;
  cursor: pointer;
  border-radius: 20px;
}

#buy-tickets:hover {
  opacity: 0.8;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

.modal-footer a {
  color: #2196f3;
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-140px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

